{% for label, messages in app.flashes %}
	{% for message in messages %}
    	<div class="p-3 my-2 rounded-2 text-center {{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}